extends layout

block content
  h1 Books
  p
    a.button(href='/books/isbn') Create New Book
  form(method)
    p
      input(name='search', type='text')
      input(type='submit', value='Search')
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book, index in books
        if index >= offset && index < limit
          tr
            td 
              a(href=`/books/${book.id}`)= book.title
            td= book.author
            td= book.genre
            td= book.year

  include _paginate