extends layout

block content
  h1 New Book
  
  include validate-error

  form(method='post')
    p
      label(for='isbn') ISBN
      input.isbn(name='isbn', type='number')
    p.padding
      input.submit(type='submit', value='Create New Book')
    p.padding
      a.button(href='/books/new') Don't have ISBN
    p.padding
      a.button(href='/books') Cancel