doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='#')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='/static/stylesheets/style.css')

  body
    block content
    script(src='https://use.fontawesome.com/e92fb3557f.js')
    script(src='/static/javascripts/index.js')
  

